<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="PUzqiyIz90BN9wOSVXy8DX6ynCwyzuJL_ajM-_C72kU" />
  
  <meta name="description" content="Track how long it's been since Frank Ocean last dropped an album. Real-time timer for Blonde, Endless, and Channel Orange.">
  <meta name="keywords" content="Frank Ocean, Timer, Frank Ocean Timer, Album Tracker, Blonde, Endless, Channel Orange, New Music">
  <meta name="author" content="Daniel Coelho">

  <meta property="og:title" content="Frank Ocean Timer | How long has it been?">
  <meta property="og:description" content="The definitive tracker for Frank Ocean's discography. See the exact time since his last masterpiece.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://frank-ocean-timer.vercel.app"> 
  <meta property="og:image" content="{{ url_for('static', filename='img/og-image.jpg') }}">

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/world.png') }}">

  <title>Frank Ocean Timer</title>

  {% if selected == 'blonde' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="canonical" href="https://frank-ocean-timer.vercel.app/">
  {% elif selected == 'endless' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/endless.css') }}">
    <link rel="canonical" href="https://frank-ocean-timer.vercel.app/album/endless">
  {% elif selected == 'channel-orange' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/channel-orange.css') }}">
    <link rel="canonical" href="https://frank-ocean-timer.vercel.app/album/channel-orange">

  {% endif %}
  <script src="{{ url_for('static', filename='js/timer.js') }}" defer></script>
</head>
<body>
  <div id="cabeca">
    <h1 id="titulo">FRANK OCEAN TIMER</h1>
  </div>

    <div id="navButtons">
      {% for key, alb in albums.items() %}
        <a
          href="{{ url_for('album', album=key) }}"
          class="nav-btn {{ key }}{% if key == selected %} active{% endif %}"
        >
          {{ alb.title }}
        </a>
      {% endfor %}
    </div>
  

  <div id="tempo">
    <h2>{{ album_title }}</h2>
    <div
      id="timerDisplay"
      class="timerDisplay"
      data-release-date="{{ release_date }}"
    ></div>
  </div>

  <div id="pe">
    <footer id="rodape">
      Made by
      <a href="https://linktr.ee/deni.jpg" target="_blank">
        Daniel Coelho
      </a>
      – 2026
    </footer>
  </div>
  <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
</body>
</html>